/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

html,
body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    -webkit-animation: color-change-3x 5s linear infinite alternate both;
    animation: color-change-3x 5s linear infinite alternate both;
    font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes color-change-3x {
    0% {
        background: #363ACE;
    }

    50% {
        background: #777AE6;
    }

    100% {
        background: #A3A5F1;
    }
}

@keyframes color-change-3x {
    0% {
        background: #363ACE;
    }

    50% {
        background: #777AE6;
    }

    100% {
        background: #A3A5F1;
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1w7k8s');
    src: url('../fonts/icomoon.eot?1w7k8s#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1w7k8s') format('truetype'),
        url('../fonts/icomoon.woff?1w7k8s') format('woff'),
        url('../fonts/icomoon.svg?1w7k8s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\ea32";
}

.ir-arriba {
    display: none;
    padding: 20px;
    background: rgb(47, 88, 205);
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

/* Header */
.encabezado {
    background-color: rgb(47, 88, 205);
}

.titulo_banner {
    font-size: 25rem;
    margin: 0;
    position: absolute;
    color: white;
    text-shadow: 7px 7px 3px black;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.encabezado img {
    width: 100%;
    height: 40rem;
}

@media (max-width: 992px) {
    .encabezado img {
        height: 28rem;
    }

    .titulo_banner {
        font-size: 18rem;
    }
}

@media (max-width: 768px) {
    .encabezado img {
        height: 23rem;
    }

    .titulo_banner {
        font-size: 13rem;
    }
}

@media (max-width: 576px) {
    .encabezado img {
        height: 15rem;
    }

    .titulo_banner {
        font-size: 8rem;
    }
}

.titulo {
    text-align: center;
    color: white;
    text-decoration: underline;
    margin: 1rem 0 5rem 0;
    font-weight: 700;
    font-size: x-large;
}


/* Barra de navegación */
.navegacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    list-style: none;
    padding: 1rem;
    background-color: rgba(47, 88, 205, 1);
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

.navegacion a:hover {
    color: black;
}

.nav-bg {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.list-item {
    font-size: 16px;
    color: white;
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
    padding: 10px 45px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 22px 50px;
    transition: 327ms;
}

.list-item:hover {
    transition: 327ms;
    padding: 10px 60px;
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
    color: white;
    border: none;
}

/* Responsive para barra de navegación */
@media (max-width: 768px) {
    .navegacion {
        flex-direction: column;
        gap: 1rem;
    }

    .list-item {
        width: 30rem;
    }

}

/* Carrusel */
.contenedor_slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin: 2rem;
    height: calc(400px + 20em);
    border-radius: 1rem;
    width: 100%;
    max-width: 144rem;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 120rem;
    height: calc(400px + 20em);
    border-radius: 1rem;
    background-color: black;
    width: 100%;
    max-width: 144rem;
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 100;
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .05s ease-out;
    transition: opacity .05s ease-out;
    border-radius: 8px;
}

.slide-item img {
    display: block;
    height: calc(400px + 20em);
    max-width: 100%;
}

@media (max-width: 1200px) {

    .slide,
    .slide-inner,
    .slide-item img {
        height: calc(300px + 20em);
    }
}

@media (max-width: 992px) {

    .slide,
    .slide-inner,
    .slide-item img {
        height: calc(250px + 20em);
    }
}

@media (max-width: 768px) {

    .slide,
    .slide-inner,
    .slide-item img {
        height: calc(200px + 20em);
    }
}

@media (max-width: 578px) {

    .slide,
    .slide-inner,
    .slide-item img {
        height: calc(150px + 20em);
    }
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slideCartelera-1:checked~.control-1,
#slideCartelera-2:checked~.control-2,
#slideCartelera-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: grey;
}

#slideCartelera-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slideCartelera-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slideCartelera-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: black;
}

.estrenos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 30rem;
    height: 40rem;
    margin: 0 2rem;
}

figure>* {
    grid-area: 1/1;
    transition: .4s;
}

figure figcaption {
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
    padding: .75rem;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 0);
}

figure:hover figcaption {
    --_i: 0%;
}

figure:hover img {
    transform: scale(1.2);
}

.imagen_estreno {
    width: 30rem;
    height: 40rem;
}

.detalle_estreno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

@media (max-width: 992px) {

    figure,
    .imagen_estreno {
        width: 25rem;
        height: 35rem;
    }
}

@media (max-width: 768px) {
    .estrenos {
        flex-direction: column;
        gap: 1rem;
    }

    figure,
    .imagen_estreno {
        width: 30rem;
        height: 40rem;
    }
}

.texto_cartelera {
    color: white;
    font-size: large;
}


.detalle_cartelera {
    text-decoration: underline;
}

.cartelera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 3fr 3fr 0.2fr 3fr 3fr 0.2fr 3fr 3fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 0 auto;
    max-width: 140rem;
}

@media (max-width: 1500px) {
    .cartelera {
        margin: 0 2rem;
    }
}

.wrapper {
    margin: 2rem auto;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    display: flex;
    perspective: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

@media (max-width: 992px) {
    .wrapper {
        height: 90rem;
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: 60rem;
    }
}

@media (max-width: 578px) {
    .wrapper {
        height: 50rem;
    }
}

.column {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    transition: transform 1200ms ease-in-out;
    backface-visibility: hidden;
}

.wrapper:hover .column {
    transform: rotateY(180deg);
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}

.column:nth-child(1) .inner {
    transform: translateX(0%);
}

.column:nth-child(2) .inner {
    transform: translateX(-20%);
}

.column:nth-child(3) .inner {
    transform: translateX(-40%);
}

.column:nth-child(4) .inner {
    transform: translateX(-60%);
}

.column:nth-child(5) .inner {
    transform: translateX(-80%);
}

.salaA {
    grid-area: 1 / 1 / 2 / 3;
}

.wrapperA {
    background-image: url(../img/shazam_cartelera.jpg);
}

.innerA {
    background-image: url(../img/shazam_cartelera2.jpg);
}

.imagenA { 
    grid-area: 2 / 1 / 3 / 2; 
}

.textoA {
    grid-area: 2 / 2 / 3 / 3;
}

.trailerA {
    grid-area: 3 / 1 / 4 / 3;
}

.salaB {
    grid-area: 4 / 1 / 5 / 3;
}

.wrapperB {
    background-image: url(../img/antman_cartelera.jpg);
}

.innerB {
    background-image: url(../img/antman_cartelera2.jpeg);
}

.imagenB {
    grid-area: 5 / 1 / 6 / 2;
}

.textoB {
    grid-area: 5 / 2 / 6 / 3;
}

.trailerB {
    grid-area: 6 / 1 / 7 / 3;
}

.salaC {
    grid-area: 7 / 1 / 8 / 3;
}

.wrapperC {
    background-image: url(../img/thewhale_cartelera.jpg);
}

.innerC {
    background-image: url(../img/thewhale_cartelera2.jpg);
}

.imagenC {
    grid-area: 8 / 1 / 9 / 2;
}

.textoC {
    grid-area: 8 / 2 / 9 / 3;
}

.trailerC {
    grid-area: 9 / 1 / 10 / 3;
}

.salaA,
.salaB,
.salaC {
    margin: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.trailerA,
.trailerB,
.trailerC {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90vw;
    height: 90vh;
    border-radius: 1rem;
}

@media (max-width: 1200px) {
    iframe {
        height: 60rem;
    }
}

@media (max-width: 992px) {
    .cartelera {
        display: flex;
        flex-direction: column;
    }

    .texto_cartelera {
        font-size: medium;
    }

    iframe {
        height: 50rem;
    }
}

@media (max-width: 768px) {
    iframe {
        height: 40rem;
    }
}

@media (max-width: 576px) {
    iframe {
        height: 30rem;
    }
}

.etiqueta {
    font-size: small;
}

/* Footer */
.iconos_redes {
    display: flex;
    column-gap: 25px;
    margin: 1.5rem 0;
}

.icono_red {
    display: inline-flex;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

@media (max-width: 768px) {
    .icono_red {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

.icono_red:hover {
    outline-offset: 4px;
}

.icono_red i {
    margin: auto;
}

.icono_red:hover i {
    animation: shake 0.25s;
}

.icono--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline-color: #a02d76;
}

.icono--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icono--facebook:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icono--whatsapp:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

footer {
    background-color: rgba(47, 88, 205, 1);
}

.pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 1.3rem;
    margin: 5rem 1rem 0rem 1rem;
}

.pie__redes,
.pie__derechos,
.pie__domicilio {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
}

.pie__domicilio {
    align-items: flex-end;
}

.pie__redes {
    align-items: flex-start;
}

/* Responsive del footer */
@media (max-width: 768px) {
    .pie {
        flex-direction: column;
        align-items: center;
    }

    .pie__domicilio,
    .pie__redes {
        align-items: center;
    }
}

/* Peliteca */
.mostrarInfoPelicula {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5rem;
    margin: 2rem;
}

@media (max-width: 992px) {
    .mostrarInfoPelicula {
        flex-direction: column;
    }

    .contenedorPoster {
        display: flex;
        justify-content: center;
    }
}

.ocultarInfoPelicula {
    display: none;
}

.itemPelicula {
    font-size: large;
    font-weight: 700;
}

.textoItemPelicula {
    font-weight: 400;
}

.posterPelicula {
    border-radius: 8px;
    width: 50rem;
    height: 70rem;
}

.buscador {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}


.main-block,
.info {
    display: flex;
    flex-direction: column;
}

.main-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-size: cover;
}

form {
    width: 86%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background: #ebebeb;
    font-size: medium;
}

.info-item {
    width: 100%;
}

input {
    width: calc(100% - 5.5rem);
    height: 3.5rem;
    padding-left: 10px;
    margin: 0 0 1rem -5px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #fff;
}

.icon {
    padding: 1rem 1.5rem;
    margin-top: -1px;
    border-radius: 5px 0 0 5px;
    border: solid 0px #cbc9c9;
    background: #666;
    color: #fff;
}

input[type=radio] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    text-indent: 3.5rem;
    cursor: pointer;
}

label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 162, 255, 0.5);
    background: #fff;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.6rem;
    top: 7px;
    left: 6px;
    border-bottom: 3px solid rgba(0, 162, 255, 0.5);
    border-left: 3px solid rgba(0, 162, 255, 0.5);
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

textarea {
    width: 99%;
    margin-bottom: 1.5rem;
}

button,
.botonContacto {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: rgba(47, 88, 205, 1);
    font-size: medium;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    margin: 0 .4rem;
}

button:hover,
.botonContacto:hover {
    background: rgba(0, 162, 255, 0.8);
}

.botonContacto {
    width: 15rem;
}

.grade-type div {
    display: flex;
    margin: 1rem 0;
}

@media (min-width: 768px) {
    .info {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .info-item {
        width: 48%;
    }
}

.cont-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto .titulo {
    font-weight: 400;
    text-decoration: none;
    margin: 1rem;
}

/* Compras */
.tabla-calculo {
    display: flex;
    justify-content: center;
}

.tabla {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    margin-bottom: 2rem;
    empty-cells: hide;
    border-radius: 10px;
}

.titulo-tabla {
    font-size: 1.5rem;
    padding: .5rem;
}

.border-top-left {
    border-top-left-radius: 10px;
}

.border-top-right {
    border-top-right-radius: 10px;
}

.border-bottom-right {
    border-bottom-right-radius: 10px;
}

.border-bottom-left {
    border-bottom-left-radius: 10px;
}

th {
    font-size: 1.1rem;
    background: rgba(47, 88, 205, 1);
}

th,
td,
tr {
    border: var(--border-table);
    text-align: center;
    padding: .4rem 0;
}

td {
    background: hsla(210, 40%, 90%, .9);
    color: black;
    font-size: large;
}

.precio-tabla::before {
    content: '$';
    padding-right: 0.4rem;
}



.negrita {
    font-weight: bold;
}

.none {
    background: transparent;
    border: none;
}


/* Compras */
.cartola {
    height: 50rem;
    width: 30rem;
    border-radius: 1rem;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 1rem hsla(240, 100%, 90%, 0.3);
    transition: transform 0.1s;
    overflow: hidden;
    margin: 1rem;
}

.cartola:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 0 2rem hsla(240, 100%, 90%, 0.5);
}

/* Imagen */
.contenedor-img {
    height: 30rem;
    overflow: hidden;
}

/* Nombre y descripción del producto */
.div-info {
    flex: 1;
    border-bottom: var(--border);
    overflow: hidden;
}

.nombre-prod {
    margin: 0;
    font-size: large;
    text-align: center;
    padding: 0.2rem 0;
}

.separador {
    width: 80%;
    margin: .2rem auto;
    border: none;
    border-top: var(--border);
}

.descripcion-prod {
    margin: 0;
    font-size: small;
    padding: 0.2rem 1rem;
    overflow: hidden;
    opacity: .7;
}

/* Precio y Boton Carrito */
.div-precio-boton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
}

.precio {
    margin: 0 .5em;
    font-size: small;
}

.precio::before {
    content: '$';
    padding-right: 0.3rem;
}

.boton {
    background: rgba(47, 88, 205, 1);
    cursor: pointer;
    border: var(--border);
    font-size: small;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.15);
}

.boton:hover {
    color: rgba(255, 255, 255, .8);
    background: hsla(210, 40%, 50%, 1);
    box-shadow: 1px 1px 3px hsl(0, 100%, 0%, 0.25);
}

.boton::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url(https://cdn-icons-png.flaticon.com/512/1656/1656456.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.boton:hover::after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: url(https://cdn-icons-png.flaticon.com/512/1656/1656456.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.carrito {
    width: 18px;
}

/* Contenedor de todos los productos */
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 992px) {
    .contenedor-productos {
        flex-direction: column;
        align-items: center;
    }

    .button {
        font-size: small;
        font-weight: 400;
    }

    td {
        font-size: small;
    }
}

.imagen_carrito {
    height: 30rem;
    border-radius: 1rem 1rem 0 0;
}

.botonCompra {
    display: flex;
    justify-content: center;
}